.main {
  width: 1296px;
  height: 600px;
  background-image: url("../../../../img/MainBG.png");
  margin: 0 auto;

  .mainBody {
    padding-top: 136px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .mainText {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 66px;
      padding-bottom: 40px;

    }

    .mainTitle {
      font-weight: 700;
      font-size: 64px;
      line-height: 89.6px;
      color: #ffffff;
      text-align: center;
      width: 587px;
    }
  }
}
