.header {
  width: 1296px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 50px;

  .headerBody {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .headerLogo {
      width: 60px;
      height: 60px;
    }


    .headerLink {
      display: flex;
      gap: 50px;

      .headerLogo{
        font-weight: 400;
        font-size: 14px;
        line-height: 18.9px;
        color: #69B9FF;
      }

      .headerLinkItem {
        font-weight: 400;
        font-size: 14px;
        line-height: 18.9px;
        color: #69B9FF;

        &:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }
    }
  }
}
